# LEDs
set_io led[0] 37 # Green on main board
set_io led[1] 11 # Red on main board

set_io clk_osc 35

# DVI on PMOD P2
set_io  dvi_p[2] 27 #  P2_1 
set_io  dvi_n[2] 25 #  P2_2 
set_io  dvi_p[0] 21 #  P2_3 
set_io  dvi_n[0] 19 #  P2_4 
set_io  dvi_p[1] 26 #  P2_7 
set_io  dvi_n[1] 23 #  P2_8 
set_io  dvi_p[3] 20 #  P2_9 
set_io  dvi_n[3] 18 #  P2_10
